*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url("images/ship_side.png");
    background-position: center;
    background-size: cover;
    height: 105vh;
}

.navbar{
    width: 1200px;
    height: 85px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    text-decoration: none;
    color: white;
    font-family: monospace;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 25px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: orange;
}